<div ng-init="customerHomeInit()" class="index wrapper" >
    <aside ng-controller="vMenuController" style="height:100%;" class="left-side sidebar-offcanvas" style="min-height: 396px;">
        <menu visible="vmenuVisible" alignment="right" class='menu' scrollbars='config'>
            <div ng-repeat='cat in catList' class="clear cat-vmenu">
                <div class='vmenu-head' ng-click="showvheadMenu(cat.id);">
                    <span class="glyphicon glyphicon-chevron-down" style="float:left; padding:5px;" aria-hidden="true"></span>
                {{cat.name}}
                </div>
                <div ng-class='{show: headIdVisible === cat.id || catId == cat.id}' class="vheadContent" >
                    <a ui-sref="customerHome.wareList({wtId : type._id})">
                    <menu-item ng-repeat="type in wareTypeList | filter:{ categories: cat.id }">
                        {{type.name}}
                    </menu-item>
                        </a>
                </div>
            </div>
        </menu>
        
        
    </aside>
    <div class="right-side wrapper">
        
            <div ui-view id="view-content" class="wrapper">
                
                <ul class="lb-album"  lr-infinite-scroll='loadMoreWare' style="overflow:auto;">
					<li ng-repeat="ware in wareList">
						<a ui-sref="customerHome.wareDetail({id:ware._id})">
                            <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                            <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
                            <!--<span>lsakdha</span>-->
 							<div class="pic-info">{{ware.supplier.name}} <br>
                            <div ng-class="{not:ware.off > 0}"> {{ware.price}}   تومان</div>
                            <div ng-show="ware.off > 0"> {{ware.price - ((ware.price * ware.off)/100)}} تومان</div></div>
						</a>
						<div class="lb-overlay" id="image{{ware._id}}">
                            <div class="pic-detail">
							     <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                                 <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
                            </div>
							<div>
                                <ul>
                                    <li> فروشنده: {{ware.supplier.name}}</li>
                                    <li>آدرس: {{ware.supplier.address}} </li>
                                    <li>تلفن: {{ware.supplier.tel}} </li>
                                </ul>
                                <ul>
                                        <li>جنس کالا: {{ware.material}}</li>
                                        <li><span>مارک: </span>{{ware.mark}}</li>
                                        <li><span >رنگ های موجود: </span>
                                            <div ng-repeat='color in ware.color' style="background-color: {{color}}" class="colorset"></div>
                                        </li>
                                        <li><span >سایزهای موجود: </span>
                                            <span ng-repeat='size in ware.size' class="sizeset label label-success">{{size}}</span>
                                        </li>
                                        <li><span>قیمت: </span>
                                            <div ng-class="{not:ware.off > 0}" style="display:inline;"> {{ware.price}}   تومان</div>
                                            <div ng-show="ware.off > 0" style="display:inline-block;">
                                                {{ware.price - ((ware.price * ware.off)/100)}} تومان
                                            </div>
                                        </li>
                                        <li></li>
                                </ul>
                                <a href="#image-10" class="lb-prev">Prev</a>
								<a href="#image-2" class="lb-next">Next</a>
							</div>
							<a ng:click="$parent.closeTarget()" type="button" class="btn btn-danger lb-close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>بستن</a>
                            <a type="button" class="btn btn-success info-sign" ui-sref="customerHome.wareDetail({id:ware._id})">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>توضیحات بیشتر</a>
						</div>
					</li>
                        
                </ul>
                
            </div>
    </div>  
    
</div>