
<div class="content" lr-infinite-scroll='loadMoreWare' ng-init='wareListInit()'>
    <div class="alert alert-danger alert-dismissable" ng-show='wareList.length==0' style="text-align:center; font-size:16px;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    
                   کالایی با این مشخصات موجود نیست!
    </div>
    <menu visible="searchMenuVisible" alignment="left" class='menu search-menu' scrollbars='config' >
        <div class='vmenu-head'>
          <span class="glyphicon glyphicon-search" style="float:left; padding:5px;" aria-hidden="true"></span>
       جستجوی پیشرفته</div>
        <form  name="searchWareForm" ng-submit="DosearchWare(); "  novalidate>
            <div class="col-md-12">
                <div class="form-group">
					<label class="control-label">مرتب سازی بر اساس</label>
                    <select
                        class="form-control"
                        ng-model="sortKey.key"
                        ng-options="item.key as item.label
                            for item in sortArray">
                    </select>
				</div>
                <div class="form-group">
					<label class="control-label">رده بندی</label>
                    <select
                        class="form-control"
                        ng-model="searchWare.categories"
                        ng-change="updateWareTypeList(searchWare.categories)"
                        ng-options="item.id as item.name
                            for item in catList">
                    </select>
				</div>
                
            <div class="form-group">
					<label class="control-label">نام</label>
                    <select
                        class="form-control"
                        ng-model="searchWare.wareType"
                        ng-options="type._id as type.name
                            for type in waretypes">
                    </select>
				</div>
                <div class="form-group">
					<label class="control-label">کد کالا</label>
                    <input type="text" name="searchWare.code" class="form-control" ng-model="searchWare.code" >
				</div>
                <div class="form-group">
					<label class="control-label">فروشگاه</label>
                    <select
                        class="form-control"
                        ng-model="searchWare.supplier"
                        ng-options="item._id as item.name
                            for item in suppliers">
                    </select>
				</div>
				<div class="form-group">
					<label class="control-label">سایز</label>
                    <input type="text" name="searchWare.size" class="form-control" ng-model="searchWare.size" >
                </div>
                <div class="form-group">
                    <label class="control-label">جنس کالا</label>
                    <input type="text" name="searchWare.material" class="form-control" ng-model="searchWare.material" > 
                </div>
                <div class="form-group">
                    <label class="control-label">مارک</label>
                    <input type="text" name="searchWare.mark" class="form-control" ng-model="searchWare.mark" > 
                </div>
                <div class="form-group">
                    <label class="control-label">حراج بالای</label>
                    <input type="text" name="searchWare.off" class="form-control" ng-model="searchWare.off" > 
                </div>
                <div class="form-group">
                    <label class="control-label">قیمت</label>
                    <div class="input-group">
                        <span class="input-group-addon">از</span>
                        <input class="form-control" ng-model="searchWare.minPrice" type="text" name="searchWare.minPrice" only-digits tooltip>
                        
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <span class="input-group-addon">تا</span>
                        <input class="form-control" ng-model="searchWare.maxPrice" type="text" name="searchWare.maxPrice" only-digits tooltip>
                        
                    </div>
                </div>
            
            <button class="btn btn-block btn-warning" type="submit" btn-loading="loading" >
                <span class="glyphicon glyphicon-search" style="float:left; padding:5px;" aria-hidden="true"></span> جستجو</button>
        </div>
            </form>
     </menu>
    <div class="">
        <div class="btn btn-flat btn-default" ng-repeat="(key,value) in filterTag" style='margin-right:3px; border-radius:5px;'>
            <span class="glyphicon glyphicon-remove" style="float:left; padding:5px;" aria-hidden="true" ng-click='removeFilter(key)'></span>
            {{value.label}}{{value.val}}
            
        </div>
    </div>
<!--<ul class="lb-album"  >
					<li ng-repeat="ware in wareList">
						<a ui-sref="home.wareDetail({id:ware._id})">
                            <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                            <div class='trCreate'>{{ware.trCreate | jalaliFromNow }}</div>
                            <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
 							<div class="pic-info">{{ware.supplier.name}} <br>
                            <div ng-class="{not:ware.off > 0}"> {{ware.price| number}}   تومان</div>
                            <div ng-show="ware.off > 0"> {{ware.price - ((ware.price * ware.off)/100) | number}} تومان</div></div>
						</a>
						<div class="lb-overlay" id="image{{ware._id}}">
                            <div class="pic-detail">
							     <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                                
                                 <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
                            </div>
							<div>
                                <ul>
                                    <li> فروشنده: {{ware.supplier.name}}</li>
                                    <li>آدرس: {{ware.supplier.address}} </li>
                                    <li>تلفن: {{ware.supplier.tel}} </li>
                                </ul>
                                <ul>
                                        <li>جنس کالا: {{ware.material}}</li>
                                        <li><span>مارک: </span>{{ware.mark}}</li>
                                        <li><span >رنگ های موجود: </span>
                                            <div ng-repeat='color in ware.color' style="background-color: {{color}}" class="colorset"></div>
                                        </li>
                                        <li><span >سایزهای موجود: </span>
                                            <span ng-repeat='size in ware.size' class="sizeset label label-success">{{size}}</span>
                                        </li>
                                        <li><span>قیمت: </span>
                                            <div ng-class="{not:ware.off > 0}" style="display:inline;"> {{ware.price}}   تومان</div>
                                            <div ng-show="ware.off > 0" style="display:inline-block;">
                                                {{ware.price - ((ware.price * ware.off)/100)}} تومان
                                            </div>
                                        </li>
                                        <li></li>
                                </ul>
                                <a href="#image-10" class="lb-prev">Prev</a>
								<a href="#image-2" class="lb-next">Next</a>
							</div>
							<a ng:click="$parent.closeTarget()" type="button" class="btn btn-danger lb-close">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>بستن</a>
                            <a type="button" class="btn btn-success info-sign" ui-sref="customerHome.wareDetail({id:ware._id})">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>توضیحات بیشتر</a>
						</div>
					</li>
                        
</ul>-->
<div ng-repeat="ware in wareList" class="ware-box">
    <a  class="boxInner" ui-sref="home.wareDetail({id:ware._id})">
        
        <div class="ware-image">
            
            <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
            
            <div class='titleBox' ng-class="{hover:isTouchDevice}">{{ware.trCreate | jalaliFromNow }} 
                <span class="glyphicon glyphicon-ok-sign exist-sign" ng-show="ware.exists">موجود</span>
                <span class="glyphicon glyphicon-remove-sign exist-sign" ng-show="!ware.exists" style="color:#ff6b6b">ناموجود</span>
            </div>
        </div>
        <div class="pic-info">{{ware.supplier.name}}
                <div ng-class="{not:ware.off > 0}"> {{ware.price| number}}   تومان</div>
                <div ng-show="ware.off > 0"> {{ware.price - ((ware.price * ware.off)/100) | number}} تومان</div>
        </div>
        
        
    </a>
    <div class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</div>
</div>
    
</div>  