<div class="content">
<div class="row" ng-init="wareInit()">

		<form  name="wareForm" ng-submit="ware._id == undefined ? createWare() : editWare() "  novalidate>
			<div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">کد کالا</label>
                    <input type="text" name="ware.code" class="form-control" ng-model="ware.code" > 
                </div>
				<div class="form-group">
					<label class="control-label">رده بندی</label>
                    <select
                        class="form-control"
                        ng-model="ware.categories"
                        ng-change="updateWareTypeList(ware.categories)"
                        ng-options="item.id as item.name
                            for item in catList"
                        
                            required tooltip
                            >
                    </select>
                    <p class="help-block" ng-show="false">وارد کردن رده بندی کالا اجباری است</p>
				</div>
				<div class="form-group">
					<label class="control-label">نام</label>
                    <select
                        class="form-control"
                        ng-model="ware.wareType"
                        ng-options="type._id as type.name
                            for type in waretypes"
                            required tooltip>
                    </select>
                    <p class="help-block" ng-show="false">وارد کردن نوع کالا اجباری است</p>
				</div>
                
				<div class="form-group">
					<label class="control-label">رنگ</label>
                    <div id="color-space">
                        <div ng-repeat="color in ware.color track by $index " class="input-group">
                            <color-picker  ng-model="ware.color[$index] "  color-picker-format="'hex'"></color-picker>
                            <div class="input-group-btn">
                                <button class="btn btn-danger" type="button" remove-color index="{{$index}}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </div>                           
                            
                        </div>
                    </div>
                    <button class="btn btn-block btn-success" type="button" style="margin-top:3px;" add-color>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    
				</div>
                

            </div>	
            <div class="col-md-3">
                <div class="form-group">
					<label class="control-label">سایز</label>
                    <tags-input ng-model="ware.size" name="ware.size"
                                placeholder="افزودن سایز"
                                min-length="1"></tags-input>
                </div>
                <div class="form-group">
                    <label class="control-label">جنس کالا</label>
                    <input type="text" name="ware.material" class="form-control" ng-model="ware.material" > 
                </div>
                <div class="form-group">
                    <label class="control-label">مارک</label>
                    <input type="text" name="ware.mark" class="form-control" ng-model="ware.mark" > 
                </div>
                <div class="form-group">
                    <label class="control-label">قیمت</label>
                    <input id="price" type="number" ng-model="ware.price" class="form-control" required  tooltip>
                    <label for="price">{{ware.price | number}} تومان</label><br>
                    <p class="help-block" ng-show="false">وارد کردن قیمت کالا اجباری است</p>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">درصد حراج</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa icon-percent"></i>
                        </span>
                    <input  name="ware.off" class="form-control" ng-model="ware.off" type="number" tooltip >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>
                          <input type="checkbox" ng-model="ware.exists" > موجود می باشد
                        </label>
                    </div>
                </div>
                <div class="form-group">
					<label class="control-label">توضیحات</label>
                    <textarea name="shop.address" ng-model="ware.dist" class="form-control" placeholder="توضیحات ..." rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">تاریخ ایجاد</label>
                        <div class="input-group">
                        
                        <input type="text" name="ware.trCreate" class="form-control" ng-model="ware.trCreate" id='trCreate'>
                            <div class="input-group-btn">
                          <button class="btn btn-warning" type="button" ng-click="updateTrCreate()">به روز رسانی</button>
                        </div><!-- /btn-group -->
                            
                      </div>
                    <label for="trCreate">{{ware.trCreate | jalaliDate:'jYYYY/jMM/jDD hh:mm' }}</label><br>
                </div>
            </div>

				
  
		<div class="col-xs-12 col-sm-12 col-md-12 ">
				
						<button type="submit" class="btn btn-primary " ng-disabled="shopForm.$invalid" btn-loading="loading">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							ثبت
						</button>
		</div>		
		</form>
    </div>		
    <div class="box  box-warning" style="margin-top:3px;" ng-show="ware._id != undefined">
        <div class="box-header with-border" >
            <h3 class="box-title">تصاویر</h3>
            
        </div>
            
                <div   class="box-body  main-box" flow-init flow-name="index" flow-file-added="!!{true:1}[($file.getExtension() == 'png' || $file.getExtension() == 'jpg' || $file.getExtension() == 'jpeg')]" flow-files-submitted="$flow.upload()"
                     style="padding:10px;" >
                    <div class="child-box" >
                        <span  class="btn btn-default btn-flat"  flow-btn flow-attrs="{accept:'image/*'}" ng-hide="image.img.length || $flow.files.length">
                            <span class="glyphicon glyphicon-upload"></span>						
                                    بارگزاری تصویر
                        </span>
                    
                        <a href="" class="btn btn-danger btn-flat" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                            <span class="glyphicon glyphicon-trash"></span>
                                انصراف
                        </a>
                    
                        <span class="btn btn-primary btn-flat" ng-show="$flow.files.length" ng-click="addImage($flow.files[$flow.files.length - 1].uniqueIdentifier)" btn-loading="loading">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                    ذخیره
                        </span>
                        <div ng-class="{active: $flow.files[0].isUploading()}" class="progress progress-striped" ng-show="$flow.files.length" style="margin-top:20px;">
                        <div ng-style="{width: ($flow.files[0].progress() * 100) + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar" style="width: 100%; float:left;">
                          <span class="sr-only ng-binding">1% Complete</span>
                        </div>
                      </div>
                    </div>
                   <div class="chid-box pic-box" ng-show="$flow.files.length">
                        <center>
                            <img src="" class="img-thumbnail" flow-img="$flow.files[0]" id="imgTumb">
                            <!--img  ng-hide="!image.imageFile.length" class="img-thumbnail" src="data:image/png;base64,{{image.imageFile}}" -->
                        </center>
                    </div>

                
            <div   class="child-box fill-width">	

                <div  ng-repeat="image in ware.picFile" class="col-md-3">
                    <span class="badge bg-red" style="position:absolute; right: -10px; top: -3px; cursor:pointer;" 
                          ng-click="openWareImageDeleteModal('wareModalController' ,{actionName:'deletewareImage(\''+image.id+'\',\''+ware._id+'\')'})">
                        <span class="glyphicon glyphicon-trash" ></span>
                    </span>
                    <img   class="img-thumbnail " style="height:250px; width:100%;" src="data:image/png;base64,{{image.value}}" >
                </div>
                       
            </div>
                    </div>
</div>
</div>
   
    
    

</div>