<div ng-init="wareListInit()" class="content" lr-infinite-scroll='loadMoreWare'>
    <!--<center class="fixed-top">
        <button class="btn  btn-warning btn-sm pull-left element" ng-click="showSearchMenu($event);"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <a class="btn  btn-success btn-sm pull-left element" ui-sref="adminHome.createWare({shopId:shopId})"><span class="glyphicon glyphicon-plus"></span></a>
        
    </center>-->
<menu visible="searchMenuVisible" alignment="right" class='menu search-menu' scrollbars='config' >
        <div class='vmenu-head'>
          <span class="glyphicon glyphicon-remove"
                style="float:left; padding:5px; margin-left:10px; cursor:pointer;"
                aria-hidden="true" ng-click="showSearchMenu($event);"></span>
        <span class="glyphicon glyphicon-search" style="padding:5px;" aria-hidden="true"></span>
       جستجوی کالا</div>
        <form  name="searchWareForm" ng-submit="DosearchWare(); "  novalidate>
            <div class="col-md-12">    
            <div class="form-group">
                    <label class="control-label">کد کالا</label>
                    <input type="text" name="searchWare.code" class="form-control" ng-model="searchWare.code" > 
                </div>
                <div class="form-group">
					<label class="control-label">رده بندی</label>
                    <select
                        class="form-control"
                        ng-model="searchWare.categories"
                        ng-change="updateWareTypeList(searchWare.categories)"
                        ng-options="item.id as item.name
                            for item in catList">
                    </select>
				</div>
                <div class="form-group">
					<label class="control-label">نام</label>
                    <select
                        class="form-control"
                        ng-model="searchWare.wareType"
                        ng-options="type._id as type.name
                            for type in waretypes">
                    </select>
				</div>
				<div class="form-group">
					<label class="control-label">سایز</label>
                    <input type="text" name="searchWare.size" class="form-control" ng-model="searchWare.size" >
                </div>
                <div class="form-group">
                    <label class="control-label">جنس کالا</label>
                    <input type="text" name="searchWare.material" class="form-control" ng-model="searchWare.material" > 
                </div>
                <div class="form-group">
                    <label class="control-label">مارک</label>
                    <input type="text" name="searchWare.mark" class="form-control" ng-model="searchWare.mark" > 
                </div>
                <div class="form-group">
                    <label class="control-label">قیمت</label>
                    <div class="input-group">
                        <span class="input-group-addon">از</span>
                        <input class="form-control" ng-model="searchWare.minPrice" type="text" name="searchWare.minPrice" only-digits tooltip>
                        
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <span class="input-group-addon">تا</span>
                        <input class="form-control" ng-model="searchWare.maxPrice" type="text" name="searchWare.maxPrice" only-digits tooltip>
                        
                    </div>
                </div>
             <button class="btn btn-block btn-warning" type="submit" btn-loading="loading" >
                <span class="glyphicon glyphicon-search" style="float:left; padding:5px;" aria-hidden="true"></span> جستجو</button>
            
            </div> 
        </form>
     </menu>

    
    <div class="">
        <div class="btn btn-flat btn-default" ng-repeat="(key,value) in filterTag" style='margin-right:3px; border-radius:5px;'>
            <span class="glyphicon glyphicon-remove" style="float:left; padding:5px;" aria-hidden="true" ng-click='removeAdminFilter(key)'></span>
            {{value.label}}{{value.val}}
            
        </div>
    </div>
    <span class="clear"></span>
    <div style='position:static'>
	<div ng-repeat="ware in wareList"  class="ware-box li" style='position:relative'>
                        <!--<div ng:click="$parent.targetjs(ware)" class="boxInner">-->
                        <div class="boxInner">
                            <div class="ware-image">
                                <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                            </div>
                            
 							<div class="pic-info admin">کد کالا: {{ware.code}}
                            
                            </div>
						</div>
                        <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
                        
						
						<div class="lb-overlay" id="image{{ware._id}}">
							<img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
							<div>
								<ul>
                                    <li> فروشنده: {{ware.supplier.name}}</li>
                                    <li>آدرس: {{ware.supplier.address}} </li>
                                    <li>تلفن: {{ware.supplier.tel}} </li>
                                </ul>
                                <ul>
                                        <li>جنس کالا: {{ware.material}}</li>
                                        <li><span>مارک: </span>{{ware.mark}}</li>
                                        <li><span >رنگ های موجود: </span>
                                            <div ng-repeat='color in ware.color' style="background-color: {{color}}" class="colorset"></div>
                                        </li>
                                        <li><span >سایزهای موجود: </span>
                                            <span ng-repeat='size in ware.size' class="sizeset label label-success">{{size}}</span>
                                        </li>
                                        <li><span>قیمت: </span>
                                            <div ng-class="{not:ware.off > 0}" style="display:inline;"> {{ware.price}}   تومان</div>
                                            <div ng-show="ware.off > 0" style="display:inline-block;">
                                                {{ware.price - ((ware.price * ware.off)/100)}} تومان
                                            </div>
                                        </li>
                                </ul>
							</div>
							<a ng:click="$parent.closeTarget()" class="lb-close">x Close</a>
						</div>
        <div class="ware-action">
                                <div class="btn-group full-width">
							<button class="btn btn-primary btn-flat dropdown-toggle full-width" type="button" id="personDropdown" data-toggle="dropdown">
								<span class="glyphicon glyphicon-cog"></span>
								    عملیات
								<span class="caret" style="margin-right: 7px;"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ui-sref="adminHome.editWare({id:ware._id})" >
                                        <span class="glyphicon glyphicon-pencil"></span>
                                            ویرایش
                                    </a>
								</li>
                                <li>
                                    <a 
                                       ng-click="openWareDeleteModal('wareModalController' ,{actionName:'deleteWare(\''+ware._id+'\')'})" 
                                       class="danger" >
                                      <span class="glyphicon glyphicon-trash"></span>
                                        حذف
                                    </a>
                                </li>
                                <li>
                                    <a 
                                       ng-click="existsChange(ware._id)">
                                      <span ng-show='!ware.exists' class="glyphicon glyphicon-ok">موجود</span>
                                      <span ng-show='ware.exists' class="glyphicon glyphicon-remove">ناموجود</span>
                                    </a>
                                </li>
							</ul>
						</div>
                        </div>
					</div>  
        </div>
</div>
