<div class="main-box content" ng-init="wareReadInit()">
    
    <div class="info-box child-box">
        <div><div class=" info-title">وضعیت موجودی:</div>
            <div class=" info-value " style="color:#2cc185" ng-show="ware.exists">
                <span class="glyphicon glyphicon-ok-sign"></span>
                موجود </div>
            <div class=" info-value " style="color:#ff6b6b;" ng-show="!ware.exists">
                <span class="glyphicon glyphicon-remove-sign"></span>
                ناموجود
            </div>
        </div>
          <div><div class=" info-title">جنس کالا:</div> <div class=" info-value">{{ware.material}}</div></div>
        <div><div class=" info-title">مارک: </div><div class=" info-value">{{ware.mark}}</div></div>
          <div><div class=" info-title">رنگ های موجود: </div>
              <div class=" info-value">
                <div ng-repeat='color in ware.color' style="background-color: {{color}}" class="colorset"></div>
              </div>
          </div>
          <div><div class=" info-title">سایزهای موجود: </div>
              <div class=" info-value">
                  <span ng-repeat='size in ware.size' class="sizeset label label-success">{{size}}</span>
              </div>
          </div>
            <div><div class=" info-title" >قیمت اصلی:</div> 
                <div class=" info-value" ng-class="{not:ware.off > 0}">{{ware.price | number}}   تومان</div></div>
            <div><div class=" info-title" ng-show="ware.off > 0">
                قیمت حراج:</div> <div class=" info-value">{{ware.price - ((ware.price * ware.off)/100) | number}} تومان</div></div>
        <div><div class=" info-title">زمان ایجاد:</div><div class=" info-value"> {{ware.trCreate | jalaliDate:'jYYYY/jMM/jDD hh:mm' }}</div></div>
        <div><div class=" info-title">توضیحات بیشتر:</div><div class=" info-value"> {{ware.dist}}</div></div>
    </div>
    <div class="pic-box child-box">
        <!--<img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0].value}}">-->
        <div class="swiper-container" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width:100%;" ng-repeat='pic in ware.picFile' on-finish-render func-name='swiperLoad()'>
                    <img src="data:image/png;base64,{{pic.value}}">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next" style="height:30px" ng-show='isDesktop'></div>
            <div class="swiper-button-prev" style="height:30px" ng-show='isDesktop'></div>
        </div>
        <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
    </div>
    <div class="child-box fill-width info-box">
          <div><div class=" info-title">فروشگاه:</div> <div class=" info-value">{{ware.supplier.name}}</div></div>
          <div><div class=" info-title">آدرس: </div><div class=" info-value">{{ware.supplier.address}}</div></div>
          <div><div class=" info-title">شماره تماس:</div><div class=" info-value"> {{ware.supplier.tel}}</div></div>
    </div>
    <div class="child-box fill-width">
        <label style="margin-right: 40px;">اجناس مشابه</label>
        <ul class="similarWare">
            <li ng-repeat="ware in similarWare">
                <a ui-sref="home.wareDetail({id:ware._id})">
                    <div class='similar-shop-name'>{{ware.supplier.name}}</div>
                    <div>
                        <img title="ware.price" alt="ware.price" src="data:image/png;base64,{{ware.picFile[0]}}">
                    </div>
                    <div class='similar-price'>
                        <div ng-class="{not:ware.off > 0}" > {{ware.price| number}}   تومان</div>
                        <div ng-show="ware.off > 0">
                        {{ware.price - ((ware.price * ware.off)/100) | number}} تومان
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    function swiperLoad(){
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            
        });
    
    }
    </script>