<div class="content">
<div class="row" ng-init="wareTypeInit()">

        <form  name="wareTypeForm" ng-submit="wareType._id == undefined ? createWareType($flow.files[0].uniqueIdentifier) : editWareType($flow.files[0].uniqueIdentifier) "
			   flow-init flow-name="uploader.flow"
			   flow-file-added="!!{true:1}[$file.size < 307200 && ($file.getExtension() == 'png' || $file.getExtension() == 'jpg' || $file.getExtension() == 'jpeg')]"
			   flow-files-submitted="$flow.upload()"
			   novalidate>
			<div class="col-md-6">
				
				<div class="form-group">
					<label class="control-label">نام</label>
                    <input class='form-control' type="text" name="wareType.name" ng-model="wareType.name" required tooltip> 
					<p class="help-block" ng-show="false">وارد کردن نام نوع کالا  اجباری است</p>
				</div>
                <div class="form-group">
					<label class="control-label">Icon</label>
                    <input class='form-control' type="text" name="wareType.icon" ng-model="wareType.icon" tooltip> 
				</div>
				
            </div>
            <div class="col-md-6">
                <div class="form-group">
					<label class="control-label">طبقه بندی جنس</label>
                    <div class="input-group">
                        <label ng-repeat="cat in catList">
                          <input type="checkbox" checklist-model="wareType.categories" checklist-value="cat.id"> {{cat.name}}
                        </label>
                    </div>
                </div>
				
            </div>	
<div class="col-md-12">     
    <div  class="image-box form-group" >
        <div>

            <span  class="btn btn-default btn-flat" ng-hide="image.length || $flow.files.length " flow-btn flow-attrs="{accept:'image/*'}">
                <span class="glyphicon glyphicon-upload"></span>						
                {{ 'Upload File' | translate }}
            </span>
            
            
            <a href="" class="btn btn-danger btn-flat" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                <span class="glyphicon glyphicon-trash"></span>
                انصراف
            </a>
        </div>        
        <div class="panel panel-defualt col-xs-12 col-sm-6 col-md-4" ng-hide="image.length">
            <center>
                <img src="" class="img-thumbnail" ng-show="$flow.files.length" flow-img="$flow.files[0]">
                <!--img  ng-hide="!image.imageFile.length" class="img-thumbnail" src="data:image/png;base64,{{image.imageFile}}" -->
            </center>
        </div>

    </div>
</div>

<div class="col-md-12">
    <div ng-show="image.length">
        <div class="panel panel-defualt col-xs-12 col-sm-6 col-md-4">
            
            <span class="btn btn-danger btn-flat" ng-show="image.length"  ng-click="deleteWareTypeImage(wareType._id)" >
                <span class="glyphicon glyphicon-trash"></span>						
                حذف
            </span>

            <div class="box-body">
                <div  class="image-box" >
                    <center>

                        <img   class="img-thumbnail" src="data:image/png;base64,{{image}}" >
                    </center>
                </div>
            </div>
        </div>
    </div>
            </div>
	
			<div class="col-xs-12 col-sm-12 col-md-12">
				
						<button type="submit" class="btn btn-primary " ng-disabled="wareTypeForm.$invalid" btn-loading="loading">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							ثبت
						</button>
			</div>		
		</form>
</div>
</div>