<div class="content">
    <!--<center class="fixed-top">
        <a class="btn  btn-success btn-sm pull-left element" ui-sref="adminHome.createWareType"><span class="glyphicon glyphicon-plus"></span></a>
        
    </center>
        -->
	   
<!--<table ng-table="wareTypeListTable" class="table ng-table-responsive" style="margin-top:5px;">
           <tr>
               <th>Icon</th>
               <th>نام</th>
               <th>طبقه بندی ها</th>
               <th>menu</th>
           </tr>
           <tr>
               <td></td>
				<td><input type="text" ng-model="filter.name"/></td>
               <td></td>
               <td></td>
           </tr>
			 	<tr ng-repeat="wareType in $data">
                    <td>
						<span class="{{wareType.icon}}"></span>
					</td>
					<td>
						{{wareType.name}}
					</td>
					<td>
                        <span ng-repeat="cat in wareType.categories" >{{lookup.categories[cat].name}},</span>
					</td>
					
					<td  >
                        <a ui-sref="adminHome.editWareType({id:wareType._id})" class="btn btn-warning btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i>
                                ویرایش
                        </a>
                    </td>				
				</tr>
				</table>-->
    <div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12">
			<a class="btn btn-primary btn-flat" ui-sref="adminHome.createWareType">
				<span class="glyphicon glyphicon-plus-sign"></span>
				افزودن نوع کالا
			</a>
            
        </div>
	</div>
    <table id="wareTypeList" ng-table="wareTypeListTable" show-filter="true" class="table ng-table-responsive">
				<tr ng-repeat="wareType in $data">
					
                    <td width="30" data-title="'ردیف'">
						{{$index+1}}
					</td>
					<td  data-title="'نام '" filter="{ 'name': 'text' }" sortable="'name'">
						{{wareType.name}}
					</td>
                    <td data-title="'دسته بندی'" >
						<span ng-repeat="cat in wareType.categories" >{{lookup.categories[cat].name}},</span>
					</td>
                    <td data-title="Actions" width="150">
						<div class="btn-group">
							<button class="btn btn-default btn-flat dropdown-toggle" type="button" id="personDropdown" data-toggle="dropdown">
								<span class="glyphicon glyphicon-cog"></span>
								{{ 'Sub Sections' | translate }}
								<span class="caret" style="margin-right: 7px;"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ui-sref="adminHome.editWareType({id:wareType._id})" >
                                        <span class="glyphicon glyphicon-pencil"></span>
                                            ویرایش
                                    </a>
								</li>
                                <li>
                                    <a 
                                       ng-click="openWareTypeDeleteModal('wareModalController' ,{actionName:'deleteWareType(\''+wareType._id+'\')'})" 
                                       class="danger" >
                                      <span class="glyphicon glyphicon-trash"></span>
                                        حذف
                                    </a>
                                </li>
							</ul>
						</div>
					</td>
        </tr>
    </table>
    
			</div>
