extends layout

block content
	block body 
		div(id="main-content" ng-controller="main" ng-init="init()" ng-include="SPAUrl()")
		
		script(src='/javascripts/libs/angular/angular.js')
		script(src='/javascripts/libs/angular/angular-animate.js')
		script(src='/javascripts/libs/angular/angular-sanitize.js')
		script(src='/javascripts/libs/angular/socket.js')
		script(src='/javascripts/libs/angular-ui/ng-table.js')
		script(src='/javascripts/libs/angular-ui/angular-ui-router.js')
		script(src='/javascripts/libs/angular-ui/ui-utils.js')
		script(src='/javascripts/libs/angular-ui/ui-bootstrap.js')
		script(src='/javascripts/libs/angular-ui/ui-bootstrap-tpls.min.js')
		script(src='/javascripts/libs/angular-ui/notify/angular-notify.js')
		script(src='/javascripts/libs/angular-ui/upload/ng-flow-standalone.js')
		script(src='/javascripts/libs/angular-ui/translate/angular-translate.min.js')
		script(src='/javascripts/libs/angular-ui/translate/angular-translate-loader-static-files.min.js')
		script(src='/javascripts/libs/angular-ui/select2/select.js')
		script(src='/javascripts/libs/underscore.js')
		script(src='/javascripts/libs/spinner/spin.js')
		script(src='/javascripts/libs/spinner/angular-spinner.js')
		script(src='/javascripts/libs/cbpFWTabs.js')
		script(src='/javascripts/libs/owl-carousel/js/owl.carousel.js')
		script(src='/javascripts/libs/owl-carousel/js/bootstrap-collapse.js')
		script(src='/javascripts/libs/owl-carousel/js/bootstrap-transition.js')
		script(src='/javascripts/libs/ng-tags-input/ng-tags-input.js')
		script(src='/javascripts/libs/checklist-model.js')
		script(src='/javascripts/libs/swiper.min.js')
		script(src='/javascripts/libs/colorpicker/angularjs-color-picker.js')
		script(src='/javascripts/libs/colorpicker/tinyColor.js')
		script(src='/javascripts/libs/scrollbars.js')
		script(src='/javascripts/libs/lrInfiniteScroll.js')
		script(src='/javascripts/libs/jquery.mousewheel.js')
		script(src='/javascripts/libs/jquery.mCustomScrollbar.js')
		script(src='/javascripts/libs/moment.js')
		script(src='/javascripts/libs/moment-jalaali.js')
		script(src='/javascripts/libs/modernizr.custom.js')
		script(src='/javascripts/app/config/app.js')
		script(src='/javascripts/libs/AdminLTE2/dist/js/app.js')
		script(src='/javascripts/app/config/filters.js')
		script(src='/javascripts/libs/jquery/app.js')

		script(src='/javascripts/app/config/directives/directives.js')
		script(src='/javascripts/app/config/directives/verticalMenu.js')
		script(src='/javascripts/app/config/services/loginService.js')
		script(src='/javascripts/app/config/services/ImageResizerService.js')

		script(src='/javascripts/app/controller/homeController.js')
		script(src='/javascripts/app/controller/shopController.js')
		script(src='/javascripts/app/controller/wareController.js')
		script(src='/javascripts/app/controller/roleManagerController.js')
		
		
