doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="tag" content="vitrinche, ویترینچه, بازار , پوشاک زنجان, فروشگاه آنلاین")
		title= title
		link(rel='stylesheet/less', href='/stylesheets/styleLess.less')
		link(rel='stylesheet', href='/javascripts/libs/bootstrap/3.2/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/libs/bootstrap/3.2/css/RTL/bootstrap-rtl.css')
		link(rel='stylesheet', href='/javascripts/libs/jquery/mag/magnific-popup.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/AdminLTE.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/ng-table.css')
		link(rel='stylesheet', href='/stylesheets/angular-notify.css')
		link(rel='stylesheet', href='/stylesheets/tabs.css')
		link(rel='stylesheet', href='/stylesheets/tabstyles.css')
		link(rel='stylesheet', href='/javascripts/libs/colorpicker/angularjs-color-picker.css')
		link(rel='stylesheet', href='/javascripts/libs/ng-tags-input/ng-tags-input.css')
		link(rel='stylesheet', href='/stylesheets/_all-skins.css')
		link(rel='stylesheet', href='/stylesheets/ng-table.css')
		link(rel='stylesheet', href='/stylesheets/swiper.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery.mCustomScrollbar.css')
		link(rel='stylesheet', href='/stylesheets/picListStyle.css')
		link(rel='stylesheet', href='/javascripts/libs/owl-carousel/css/owl.carousel.css')
		link(rel='stylesheet', href='/javascripts/libs/owl-carousel/css/owl.theme.css')
		script(src='/javascripts/libs/jquery/jquery.js')
		script(src='/javascripts/libs/jquery/mag/jquery.magnific-popup.js')
		script(src='/javascripts/libs/bootstrap/3.2/js/bootstrap.js')
		script(type='text/javascript', src="/socket.io/socket.io.js")
		
		script(src='/javascripts/libs/less.js')
	body(ng-app="myApp" class="skin-red")
		block content
