
<!--<div style="height:100%;" ng-init='adminInit()'>
    <aside ng-controller="vMenuController" style="height:100%;" class="left-side sidebar-offcanvas" style="min-height: 396px;">
     <!--   <button ng-click="showRight($event)">Show Right Menu!</button>-->
        
       <!-- <menu visible="vmenuVisible" alignment="right" class='menu' scrollbars='config'>
            <div class="clear cat-vmenu" >
                <div class='vmenu-head'>
                    <span class="glyphicon glyphicon-chevron-down" style="float:left; padding:5px;" aria-hidden="true"></span>
                منو
                </div>
                <div class="vheadContent show clear">
                    <a ui-sref="adminHome.shops" permission="list,shop"><menu-item >فروشگاه ها</menu-item></a>
                    <a ui-sref="adminHome.wareTypes"><menu-item >اجناس</menu-item></a>
                    <a ui-sref="adminHome.roleManager" permission="manager,role"><menu-item>سطح دسترسی</menu-item></a>
                    <a ui-sref="adminHome.wareList({supplier:me._id})"><menu-item>کالاهای فروشگاه</menu-item></a>
                </div>
            </div>
        </menu>
        
    </aside>
    <aside class="right-side">
        <section class="content-header">
            <h1 id="dashboard" class="ng-binding"></h1>
            <ol id="breadcrumb" class="breadcrumb">
            </ol>
        </section>
        <div class="wrapper">
            <div ui-view id="view-content" class="animate wrapper">
            </div>
        </div>
    </aside>  
    
</div>-->
<section class="content-header">
        <div class="content-header" ng-show='showBreadcrmbs && isDesktop'>
            <h1 id="dashboard" class="ng-binding"></h1>
            <!--<ol id="breadcrumb" class="breadcrumb">
            </ol>-->
        </div>
        <!--<div class="content-header" ng-show='showBreadcrmbs && !isDesktop'>
            <a id='returnUrl' href="" style="padding-right:10px; padding-top:3px;">
                <span class="glyphicon glyphicon-share-alt" style="padding-left:5px"></span>بازگشت</a>
        </div>-->
</section>
<div class='wrapper' ng-init='adminInit()' ui-view style="top: 32px;">
    <div class="alert alert-danger alert-dismissable" style="text-align:center; font-size:16px; ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <p>به فروشگاه اینترنتی خود خوش آمدید.</p>
                    <p>برای سر و سامون دادن به فروشگاه خودتون از منوی سمت چپ استفاده کنید</p>
                    
    </div>
</div>