<div class="login-page content" ng-init='loginInit()'>
        <div class="login-box" >
            <div class="login-logo">
                پنل ورود فروشگاه
            </div>
                <div class="login-box-body" id="login-box">
                    <p class="login-box-msg">برای ویرایش کارتابل خود وارد شوید</p>
                    <form role="form" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                      <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="نام کاربری" name="form.username" ng-model="form.username">
                        <span class="glyphicon glyphicon-user form-control-feedback" style="top:2px"></span>
                      </div>
                      <div class="form-group has-feedback">
                        <input type="password" placeholder="رمز عبور" name="form.password" class="form-control" ng-model="form.password">
                        <span class="glyphicon glyphicon-lock form-control-feedback" style="top:2px"></span>
                      </div>
                      <div class="row">
                        
                        <div class="col-xs-12">
                          <button class="btn  bg-blue btn-block" type="submit"><span class="glyphicon glyphicon-log-in" style="margin-left: 10px;"></span>ورود</button>
                        </div><!-- /.col -->
                      </div>
                    </form>
                     <div class="social-auth-links text-center">
      <p>یا ویترین خود را رزرو کنید</p>
      <a class="btn  btn-warning btn-block" ui-sref='adminHome.createShop'><i class="fa fa-fw fa-user-plus" style="margin-left: 10px;"></i>رزرو ویترین</a>
      
    </div>       

                </div>
        </div>
        
</div>