<div class="box-body" >
			<form novalidate>
			<div class="row">
				<div class="form-group col-xs-6 col-sm-4 col-md-6">
			
					<input type="text" placeholder="enter new role name" class="form-control" ng-model="form.name" required > 
					
				</div>
				<a  ng-click="roleCreate(form.name)" class="btn btn-info">
					<span class="glyphicon glyphicon-plus-sign"></span>
					define new Role
				</a>
			</div>
			
		</form>
    <table ng-table="rolesTable" class="table">
			<tbody ng-repeat="role in $data">
				<tr class="ng-table-group">
					<td>
						<span ng-if="role.$edit"><input class="form-control" type="text" ng-model="role.name" /></span>
						<div ng-if="!role.$edit">
							<a href="" ng-click="role.$hideRows = !role.$hideRows">
							<span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': role.$hideRows, 'glyphicon-chevron-down': !role.$hideRows }"></span>
							<strong>{{ role.name }}</strong>
							</a>
						</div>
					</td>
					<td>
						<a ng-if="!role.$edit" href="" class="btn btn-default " ng-click="role.$edit = true">Edit</a>
						<a ng-if="role.$edit" href="" class="btn btn-primary " ng-click="roleEditInline(role)">Save</a>
					
						
							<a  ng-click="permissionAddModal( 'lg', role._id)" class="btn btn-success">
								<span class="glyphicon glyphicon-plus-sign"></span>
								Add Permission
							</a>
							<a  ng-click="roleDelete( role._id)" class="btn btn-danger">
								<span class="glyphicon glyphicon glyphicon-minus-sign"></span>
								remove
							</a>
						
					</td>
					</tr>
				<tr ng-hide="role.$hideRows" ng-repeat="permission in role.permissions">
					<td sortable="subject" data-title="'subject'">
						{{permission.subject}}
					</td>
					<td sortable="action" data-title="'action'">
						{{permission.action}}
					</td>
					<td data-title="'Menu' " >
						<div>
							<a  ng-click="roleRemovePermission(role.name, permission._id)" class="btn btn-danger">
								<span class="glyphicon glyphicon glyphicon-minus-sign"></span>
								remove
							</a>
						</div>
					</td>	
				</tr>
			</tbody>
		</table>
</div>