<div class="content" >
<a class="btn  btn-success btn-sm" ui-sref="adminHome.createShop"><span class="glyphicon glyphicon-plus"></span>افزودن فروشگاه</a>

        
	   <table ng-table="list" class="ui table ng-table-responsive" style="margin-top:5px;">
           <tr>
               <th>نام</th>
               <th>تلفن</th>
               <th>فروشنده</th>
               <th>menu</th>
           </tr>
           <tr>
               <td><input type="text" ng-model="filter.name"/></td>
				<td><input type="text" ng-model="filter.tel"/></td>
				<td><input type="text" ng-model="filter.clientName"/></td>
               <td></td>
           </tr>
			 	<tr ng-repeat="shop in $data">
					<td>
						{{shop.name}}
					</td>
					<td>
						{{shop.tel}}
					</td>
					<td >
						{{shop.clientName}}
					</td>
					<td  >
					<a ui-sref="adminHome.editShop({id:shop._id})" class="btn btn-success btn-sm">
						<i class="glyphicon glyphicon-pencil"></i>
							ویرایش
					</a>
                    <a ui-sref="adminHome.wareList({supplier:shop._id})" class="btn btn-warning btn-sm">
						<i class="glyphicon glyphicon-gift"></i>
							کالاهای فروشگاه
					</a>
                    <a ui-sref="adminHome.shopRole({id:shop._id})" class="btn btn-info btn-sm">
						<i class="glyphicon glyphicon-user"></i>
				        نقش کاربری
                    </a>
                    <a 
                        ng-click="openShopDeleteModal('wareModalController' ,{actionName:'deleteShop(\''+shop._id+'\')'})" 
                        class="btn btn-danger btn-sm" >
                        <span class="glyphicon glyphicon-trash"></span>
                            حذف
                    </a>
                                </li>
					</td>				
				</tr>
				</table>
</div>