.ng-table th {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ng-table th.header {
	z-index: 1000 !important;
}

.ng-table th div {
	font-family: 'nassim bold' !important;
	font-size: 18px !important;
	font-weight: normal;
}
.ng-table th.sortable {
  cursor: pointer;
}
.ng-table th.sortable div {
  padding-right: 0px;
  position: relative;
}
.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: black transparent;
  visibility: visible;
  left: 3px;
  top: 50%;
  position: absolute;
  opacity: .3;
  margin-top: -4px;
}
.ng-table th.sortable div:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}
.ng-table th.sortable div:hover:after,
.ng-table th.sortable div:hover:before {
  opacity: 1;
  visibility: visible;
}
.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: rgba(128, 128, 128, 0.1);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.ng-table th.sortable.sort-desc div:after,
.ng-table th.sortable.sort-asc div:after {
  margin-top: -2px;
}
.ng-table th.sortable.sort-desc div:before,
.ng-table th.sortable.sort-asc div:before {
  visibility: hidden;
}
.ng-table th.sortable.sort-asc div:after,
.ng-table th.sortable.sort-asc div:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.ng-table th.sortable.sort-desc div:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.ng-table th.filter .input-filter {
  margin: 0;
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ng-table + .pagination {
  margin-top: 0;
}

tbody > tr:hover {
	background-color: #f5f5f5;
	cursor: pointer;
	-webkit-transition: 0.3s ease-in all;  /* For Safari 3.1 to 6.0 */
	transition: 0.3s ease-in all;
}

.ng-table > thead {
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	visibility: visible;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
}

td > input {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	vertical-align: middle;
}

.ng-table > thead > tr > th {
	border: 1px solid #ccc;
	visibility: visible;
	
}

.ng-table > tbody {
	border: 1px solid #ccc;
	visibility: visible;
	
}

.ng-table > tbody > tr > td {
	border: 1px solid #ccc;
	visibility: visible;
	vertical-align: middle;
	font-size: 13px;
	
}

.ng-table-pagination {
	float: left;
	margin-top: 10px;
	list-style: none;
	margin-left: 1px;
}

.ng-table-pagination > li {
	float: right;
}

.ng-table-pagination li  a{
	background-color: #fff;
}

.ng-table-pagination li.disabled  a{
	background-color: #f5f5f5;
}

.ng-table-pagination li.disabled  a:hover{
	background-color: #f5f5f5;
}

.ng-table-pagination li:first-child a,
.ng-table-pagination li:last-child a {
	background: #FFFFFF;
}

.ng-table-pagination li.disabled:first-child a,
.ng-table-pagination li.disabled:last-child a {
	background: #f5f5f5;
}

.ng-table-pagination li.disabled:first-child  a:hover,
.ng-table-pagination li.disabled:last-child  a:hover {
	background: #f5f5f5;
}

.ng-table-pagination > li > a{
	padding: 12px 12px;
	border: 1px solid #ccc !important;
	margin-left: -1px;
	font-weight: 800;
}

.ng-table-pagination > li > a:hover {
	background-color: #bbb;
	border: 1px solid #bbb;
	color: #fff;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .ng-table-responsive {
    border-bottom: 1px solid #49afcd;
  }
  .ng-table-responsive tr {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .ng-table-responsive td:before {
    position: absolute;
    padding: 8px;
    right: 0;
    top: 0;
    width: 50%;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }
  .ng-table-responsive thead tr th {
    text-align: right;
  }
  .ng-table-responsive thead tr.ng-table-filters th {
    padding: 8px;
  }
  .ng-table-responsive thead tr.ng-table-filters th form > div {
    padding: 8px;
  }
  .ng-table-responsive td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-right: 50% !important;
    white-space: normal;
    text-align: right;
  }
  
  .ng-table-responsive td:first-child, .ng-table-responsive td:last-child {
    width: 100%;
  }
  
  .ng-table-responsive td:first-child > input {
	  margin-left: 100% !important;
  }
  .ng-table-responsive td:before {
    content: attr(data-title-text);
  }
  .ng-table-responsive,
  .ng-table-responsive thead,
  .ng-table-responsive tbody,
  .ng-table-responsive th,
  .ng-table-responsive td,
  .ng-table-responsive tr {
    display: block;
  }
}
