@font-face{
	font-family:'iran sans';
	src: url('fonts/irsans.eot') format('opentype');
	src:local('☺'), 
		url('fonts/irsans.woff') format('woff'),
		url('fonts/irsans.ttf') format('truetype'), 
		url('fonts/irsans.svg') format('svg');
}

@font-face {
	font-family: 'nassim bold';
	src: url('fonts/nassim-bold.eot') format('opentype');
	src:local('☺'), 
		url('fonts/nassim-bold.eot?#iefix') format('embedded-opentype'),  
		url('fonts/nassim-bold.woff') format('woff'),
		url('fonts/nassim-bold.ttf')  format('truetype'),
		url('fonts/nassim-bold.svg#nassim') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'BTabassom';
  src: url('PersianFonts/BTabassom.eot?#') format('eot'),  /* IE6–8 */
       url('PersianFonts/BTabassom.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('PersianFonts/BTabassom.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BMorvarid';
  src: url('PersianFonts/BMorvarid.eot?#') format('eot'),  /* IE6–8 */
       url('PersianFonts/BMorvarid.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('PersianFonts/BMorvarid.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
html, body {
    height: 100% !important;
    overflow: hidden !important;
}
body{
        font-family:BMorvarid, Arial, Helvetica, sans-serif, 'tahoma', 'Glyphicons Halflings','FontAwesome', monospace !important;        
        text-decoration: none !important;
        font-size: 16px;
}
/*@media screen and (max-width: 25em) {
	* {
		font-size: 11px;
	}
	
}*/
a {
  color: #00B7FF;
    cursor: pointer;
}
ol, ul {
    list-style: none outside none;
}
#headCont{
  margin:0 auto;
  position:relative;
  text-transform: uppercase;
  width: 1050px;
}
.logo{
  display: block;
  float:left;
  margin:15px 25px 0 0;
}
#main-content{
   height: 100%;
   overflow: hidden;
    
}
.header-fix{
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 100%;
    height: 44px;
}
#container {
    /*top:2.2em;
    position: relative;
    width: 100%;
    height: 100%;*/
    bottom: 0;
    position: absolute;
    top: 44px;;
    width: 100%;
    overflow: hidden;
}

/*@media screen and (max-width: 58em) {
	#container {
		top:44px;
	}
    menu > div.right {
        margin-top: 44px;
    }
    
}*/

span.clear { clear: left; display: block; }
.pic-info{
    text-align: center;
    color: #2cc185;
    padding: 13px 0 5px;
    background-color: #FAFAFA;
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    height: 100%;
}

.colorset{
    height: 15px;
    width: 15px;
    display: inline-block;
    border:1px solid #fff;
    margin:3px;
    padding: 3px;
    margin-bottom: 0;
    border-radius: 3pX;
}
.sizeset {
    
    display: inline-block;
    margin: 2px;
}
.kala-tag:before {
-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #9c0000 #9c0000 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    bottom: -10px;
    content: "";
    height: 0 !important;
    left: 0;
    position: absolute;
    width: 0;
    z-index: -1;}
.kala-tag {
    
    background: #dd4b39 none repeat scroll 0 0;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.4);
    border: none !important;
    height: auto !important;
    left: -10px !important;
    max-width: 120px !important;
    padding: 7px 20px 5px !important;
    position: absolute !important;
    top: 10px !important;
    width: 80px !important;
    z-index: 1 !important;
    left: -10px !important;
    color: #fff !important;
    text-align: center;
    float: right;
    font-size: 16px;
}
.not {
    text-decoration: line-through !important;
    color: #ff6b6b;
}
.pic-detail {
    height: 250px !important;
    width: 250px !important;
}
.pic-detail img {
    height: 100%;
    width: 100%;
}
.main-box{
    width: 100%;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
    align-items: center;
    -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.main-box .child-box{
    display: block;
    margin: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pic-box {
    
    -webkit-flex: 0 1 350px;
    -moz-flex: 0 1 350px;
    -ms-flex: 0 1 350px;
	flex:0 1 350px;
    height: 272px;
}
.pic-box img{
    width: 100%;
    height: 100%;
    order: 0;
}
.info-box {
    
    -webkit-flex: 1 1 300px;
    -moz-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    
        
    /*padding: 10px;*/
    order: 1;
    
    
}
/*.info-box{
    line-height: 40px;
    width: 100%;
    
}*/
.info-box> div{
    width: 100%;
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
    border-top: 1px solid #e9e9e9;
}
.info-box>div .info-title{
    padding: 9px 21px;
    max-width: 160px;
    background: #f0f1f2 none repeat scroll 0 0;
    -webkit-flex:1 1 120px;
    -moz-flex:1 1 120px;
    -ms-flex:1 1 120px;
    flex:1 1 120px;
    
}
.info-box> div .info-value{
    padding: 5px 21px;
    background: #f7f9fa none repeat scroll 0 0;
    -webkit-flex:1 1 150px;
    -moz-flex:1 1 150px;
    -ms-flex:1 1 150px;
    flex:1 1 150px;
}
.fill-width {
    -webkit-flex: 100%;
    -moz-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    order: 3;
}

@media screen and (max-width: 840px) {
  .pic-box{
        -webkit-flex: 0 320px
        -moz-flex: 0 320px
        -ms-flex: 0 320px
        flex: 0 320px
    }
    .info-box {
       width: 100%;
        -webkit-flex: 1 100%;
        -moz-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%;
      }
    .right-side {
        margin-right: 0 !important;
    }
}
.similarWare {
     width: 100%;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
    align-items: center;
    -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.similarWare li{
    float: right;
    margin: 0 0 0 60px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    -webkit-flex:0 1 130px;
    -moz-flex:0 1 130px;
    -ms-flex:0 1 130px;
    flex:0 1 130px;
}
.similar-shop-name, .similar-price{
    color: #000;
    display: block;
    font-size: 13px;
    padding: 6px 0;
    text-align: center;
}
.similarWare li a img{
    height: 130px;
    width: 130px;
    display: block;
}
.search-menu>div{
    z-index: 1002;
    border-left: 1px solid #FFD700 !important;
    border-top: 5px solid #FFD700 !important;
    
}
.search-menu  .vmenu-head{
    background-color: #fafad2;
    color: #FFD700;
}

.clear{
    clear: both;
}
menu .vheadContent{
   -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
  overflow: hidden;
  max-height: 0;
}
menu .vheadContent.show{
   max-height: 300px;
}

.content-right{
    padding: 10px;
}

.user-header >img {
    width: 90px;
    height: 90px;
    
}
.user-header{
    text-align: center;
    width: 200px;
}
.user-footer{
    width: 100%;
    height: 100%;
    border-top: 1px solid #2cc185;
    overflow: hidden;
    padding-top: 4px;
}

.modal-header-danger {
    background-color: #d43f3a;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 15px;
}
.modal-footer{
    text-align: right;
}
.test{
    width: 200px;
    height: 200px;
    float: right;
    font-size: 20px;
    border: 1px solid red;
    margin: 5px;
    display:block;
}
.view-content{
    overflow-y: auto;
    height: 90%;
}
.pic-info.admin {
    height: 15px;
}
.ware-action {
    width: 100%;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    position: absolute;
    width: 100%;
}
.full-width {
    width: 100%;
}
.profile-list>a{
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
}
.profile-list>a:hover{
    background: #39CCCC;
}
.navbar{
    border-radius: 0;
}
.profile-menu > div {
    border-right: 1px solid #39cccc !important;
    border-top: 5px solid #39cccc !important;
    z-index: 1002;
}

.fixed-top{
    position: fixed;
    text-align: center;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1008;
}

.fixed-top>.element{
    float: right;
    opacity: 0.65;
    border-radius: 100%;
    margin-right: 3px;
    font-weight: 200;
    font-size: 18px;
}

.fixed-top>.element:hover {
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.withBread{
    top: 32px;
}
.trCreate{
    position: absolute;
    background-color: rgba(10, 10, 10, 0.2);
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    right: 0;
    text-align: center;
}
 /*ware list style*/ 
 .ware-image:hover .titleBox, body.touch .ware-image.touchFocus .titleBox {
    top:65%;
}
.titleBox.hover {
    top: 65% !important;
}
    .ware-box {
      float: right;
      position: relative;
      width: 25%;
      height: 340px;
        margin-bottom: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
    .ware-image .exist-sign {
        float: right;
        color: #2cc185;
        padding-right: 5px;
    }
    .boxInner .ware-image {
      width: 100%;
    }
    .ware-image img{
        width: 100%;
        height: 75%;
        position: absolute;
    }
.shop-image img,.shop-image{
    border-radius: 100%;
}
.shop-tag {
    border-bottom: 0;
     border-radius: 100%;
}
    
    .ware-image .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding-top: 5px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .ware-box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .ware-box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .ware-box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .ware-box {
        width: 25%;
        padding-bottom: 25%;
      }
    }
/*touch slider*/
.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #FdFdFd;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
	   -moz-justify-content: center;
	   -ms-justify-content: center;
	   justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
       .swiper-slide>.sale-arm {
           position: absolute;
           top: 0;
           height: 35%;
           left: 0;
           right: 0;
           width: 100%;
       } 
       .swiper-slide>.ware-pic{
           position: absolute;
           top: 35%;
           height: 45%;
           left: 0;
           right: 0;
           width: 100%;
       } 
       .swiper-slide>.ware-info {
           position: absolute;
           top: 80%;
           height: 20%;
           left: 0;
           right: 0;
           padding: 10px;
           color: dimgrey;
       }
       .swiper-slide>.ware-pic img{
           height: 100%;
           width: 100%;
       }
.spin{
    position: fixed;
    left: 0;right: 0;top: 0;bottom: 0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:10000000;
}
