/* angular vertical menu */
.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; -webkit-transition: @value; -moz-transition: @value; -ms-transition: @value; -o-transition: @value; transition: @value; }
			.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform:@value; -ms-transform:@value; -webkit-transform:@value; -o-transform:@value; -moz-transform:@value; }
            .border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
			
            menu { display:block; padding: 0 !important;
                @menu-width:220px;
                >div { position:fixed; z-index:1000; top:44px;  width:@menu-width; bottom: 0; .border-box; .transition(-webkit-transform ease 220ms); .transition(transform ease 220ms);
                    &.left { background:#fff; left:@menu-width*-1; }
                    &.show.left { .transform(translate3d(@menu-width, 0, 0)); }
                    
                    &.right { background:#fff; right:@menu-width*-1;border-left:solid 1px #2cc185;  border-top: solid 5px #2cc185; position: fixed; padding-bottom: 10px;}
                    &.show.right { .transform(translate3d(@menu-width*-1, 0, 0)); }
                    
                    .cat-vmenu .vheadContent a menu-item { display:block;
                        
                        >div { float:right; width:100%; margin:0; padding:10px 20px;  cursor:pointer; .border-box; color:#2cc185;
                            &:hover { background:#2cc185;} &:hover span{color:#fff}
                            >span { float:right; color:inherit; }
                            
                        }
                    }
                    .cat-vmenu .vmenu-head {
                        
                        background-color: lighten(#2cc185, 50%);
                        padding-right:10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        color: #2cc185;
                        cursor: pointer;
                    }
                }
            }
/*end angular vertical menu */