<!--<div ng-init="customerHomeInit()" class="index wrapper" >
    <aside ng-controller="vMenuController" style="height:100%;" class="left-side sidebar-offcanvas main-sidebar" style="min-height: 396px;">
        <menu visible="vmenuVisible" alignment="right" class='menu' scrollbars='config'>
            <div ng-repeat='cat in catList' class="clear cat-vmenu slimScrollDiv">
                <div class='vmenu-head' ng-click="showvheadMenu(cat.id);">
                    <span class="glyphicon glyphicon-chevron-down" style="float:left; padding:5px;" aria-hidden="true"></span>
                  {{cat.name}}
                </div>
                <div ng-class='{show: headIdVisible === cat.id || catId == cat.id}' class="vheadContent" >
                    <a ng-repeat="type in wareTypeList | filter:{ categories: cat.id }" 
                       ui-sref="home.wareList"
                       ng-click='changeCat({wtId : type._id,catId:cat.id})'>
                    <menu-item>
                        {{type.name}}
                    </menu-item>
                        </a>
                </div>
            </div>
        </menu>
        
        
    </aside>
    
    <div class="right-side wrapper"  >
       <div class="content-header" ng-show='showBreadcrmbs'>
            <h1 id="dashboard" class="ng-binding"></h1>
            <ol id="breadcrumb" class="breadcrumb">
            </ol>
        </div>
        <div ng-class='{withBread: showBreadcrmbs}' class="wrapper" ui-view id="view-content" >
            
        </div>
        
               
    </div>  
   
</div>-->
<div ng-init="customerHomeInit()" class="index wrapper" >
    <aside style="height:100%;" class="left-side sidebar-offcanvas main-sidebar">
        <div class=" slimScrollDiv">
            <section class="sidebar">
            <div class="sidebar-form" style="margin:0;">
                <div class="input-group" >
                  <input type="text" class="form-control" placeholder="کالای خود را جستجو کنید" 
                                   ng-model='searchTag.text' style="padding:0; position:static;"
                         onkeydown="if (event.keyCode == 13) document.getElementById('search').click()">
                  <span class="input-group-btn">
                    <a ui-sref="home.wareList" class="btn btn-flat btn-warning link" name="search" ng-click='searchInTag()' 
                       style="padding:6px 3px; position:static;" id='search'>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                  </span>
                </div>
            </div>   
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a ui-sref='home.mainHome' class="link">
                            <span class="glyphicon glyphicon-home" aria-hidden="true" style="line-height:1.5;"></span>
                        صفحه اصلی
                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref='home.shopList' class="link">
                            <i class=" fa-shopping-cart"></i>
                            لیست فروشگاه ها
                    </a>
                </li>
                <li class="treeview">
                    <a>
                            <i class="fa fa-fw fa-user"></i>
                            فروشگاه من
                    </a>
                    
                    <ul class="treeview-menu">
                       <li>
                           <a ui-sref="login" class="link" ng-show="!login">
                            <i class="fa fa-fw fa-sign-in"></i>  
                            ورود
                            </a>

                            <a ui-sref="adminHome" class="link" ng-show="login">
                                    <i class="fa fa-fw fa-sign-in"></i>  
                                    ورود
                            </a>
                        </li> 
                        <li>
                           <a ui-sref="adminHome.createShop">
                               <i class="fa fa-fw fa-user-plus"></i> 
                            رزرو ویترین
                           </a>
                        </li> 
                    </ul>
                </li>
                <li class="treeview">
                    <a>
                        <i class="fa fa-fw fa-phone"></i>  
                        <span>تماس با ما</span>
                    </a>
                    <ul class="treeview-menu">
                       <li>
                           <a>
                           خط۱: ۰۹۱۹۰۶۱۰۹۰۰
                           <br>
                           vitrinche@gmail.com
                           </a>
                        </li> 
                        <li>
                           <a>
                           خط۲: ۰۹۱۲۷۴۰۲۳۱۳
                           </a>
                        </li> 
                    </ul>
                </li>
                <li class="header">
                    طبقه بندی اجناس
                </li>
                <li class="treeview">
                    <a ui-sref='home.wareList' class="link" ng-click='changeCat({})'>
                            <i class="fa fa-fw fa-list"></i>
                            لیست تمامی اجناس
                    </a>
                </li>
                <li class="treeview" ng-repeat='cat in catList'>
                    <a>
                        <i class="{{cat.icon}}"></i>  
                        <span>{{cat.name}}</span>
                    </a>
                    <ul class="treeview-menu">
                       <li ng-repeat="type in wareTypeList | filter:{ categories: cat.id }">
                           <a ui-sref="home.wareList"
                                ng-click='changeCat({wtId : type._id,catId:cat.id})' class="link">
                                {{type.name}}
                            </a>
                        </li> 
                    </ul>
                </li>
            </ul>
            </section>
        </div>
        
        
    </aside>
    
    <div class="right-side wrapper row-offcanvas row-offcanvas-left"  >
       <div class="content-header" ng-show='showBreadcrmbs && isDesktop'>
            <h1 id="dashboard" class="ng-binding"></h1>
            <ol id="breadcrumb" class="breadcrumb">
            </ol>
        </div>
        <div class="content-header" ng-show='showBreadcrmbs && !isDesktop'>
            <a id='returnUrl' href="" style="padding-right:10px; padding-top:3px;">
                <span class="glyphicon glyphicon-share-alt" style="padding-left:5px"></span>بازگشت</a>
        </div>
        <div ng-class='{withBread: showBreadcrmbs}' class="wrapper" ui-view id="view-content" >
            
        </div>
        
               
    </div>  
   
</div>

