<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();
</script>
<div us-spinner="{radius:10, width:4, length: 8}" class='spin'></div>
<div class='header-fix main-header fixed' id='header-fix'>
            <div class="tabs tabs-style-linetriangle" >
					<nav class="navbar" >
                        <a class="sidebar-toggle"
                           ng-show='!isAdminPage' data-toggle='offcanvas'>
                            <i class="fa fa-fw fa-list"></i>
                        </a>
                        
                        
                        
                        <ul>
                           <li class="noneContent" style="height:100%">
                               <a ui-sref='home.mainHome' class="sidebar-toggle" style="height:100%">
                               <p style="line-height:2; font-size:20px; font-weight:bold;">Vitrinche.com</p></a></li>
                            <!--<li ng-repeat="item in menu" on-finish-render func-name="new CBPFWTabs( $( '.tabs' ) );"><a href="#topMenu{{item.id}}" ><span>{{item.name}}</span></a></li>
                            <li class="noneContent" ng-show="!login && isDesktop"> <a  ui-sref="login"><span>Login</span></a></li>-->
                            <!--<li class="noneContent" ng-show="login">
                                <a popover-placement="bottom" 
                                   uib-popover-template="logUrl" >
                                    <span>کارتابل فروشگاه</span></a>
                                <a ng-click="showProfileMenu($event)" class="noneContent"> کارتابل فروشگاه</a>
                                    <script type="text/ng-template" id="logoutPage.html">
                                        <div class='user-header'>
                                            <img src="data:image/png;base64,{{me.imageFile}}">
                                            <p>{{me.name}}</p>
                                        </div>
                                        <div class='user-footer'>
                                            
                                            <div class='pull-right'>
                                                <a class="btn btn-default btn-flat btn-sm ng-binding" ui-sref="adminHome" 
                                                   style="margin-left:5px; display:inline;">
                                                    <span class="glyphicon glyphicon-lock" style=" display:inline;"></span>
                                                    <span style="display:inline;">کارتابل فروشگاه</span>
                                                </a>
                                            </div>
                                            <div class='pull-left '>
                                                <button class="btn btn-success btn-flat btn-sm ng-binding" ng-click="logout()" href="">
                                                        <span class="glyphicon glyphicon-log-out" style="margin-left: 5px;"></span>
                                                خروج
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </script>
                                
                            </li>-->
						</ul>
                       <!--<div class="input-group none-content pull-left" style="width:300px; height:0;" >
                            <input type="text" class="form-control" style="height:100%;" placeholder="کالای خود را جستجو کنید" 
                                   ng-model='tagsearch.text'>
                           
                            <div class="input-group-btn" style="height:100%;">
                              <a style="height:100%;" class="btn btn-warning" type="button" ui-sref='home.searchwareList({tag:tagsearch.text})'>
                                  <span class="glyphicon glyphicon-search" aria-hidden="true" style="line-height:2;"></span></a>
                            </div><!-- /btn-group -->
                        <!--</div>-->
                        <a class="none-content pull-left sidebar-toggle" ng-controller="vMenuController" ui-sref='home.wareList'
                              ng-show='!isAdminPage' id="vMenuSearch" ng-click="showSearchMenu($event);">
                                <i class="fa fa-fw fa-filter"></i>
                        </a>
                        <!--<a  ui-sref="login" class="login sidebar-toggle" ng-show="!login" id='loginButton'>
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true" style="line-height:1.5;"></span>
                        </a>-->
                        <a class="none-content sidebar-toggle" ng-click="showProfileMenu($event)" class="pull-left" id='profileButton' ng-show="login">
                            <i class="fa fa-fw fa-user"></i>
                        </a>
					</nav>
					<!--<div class="content-wrap">
						<section  ng-repeat='item in menu' id="topMenu{{item.id}}">
                            <ul class="subnav">
                                <li ng-repeat='chunk in item.submenu' class="subsubnav">
                                   
                                    <ul >
                                         
                                        <li ng-repeat='type in chunk' pic-load="pic-{{item.id}}-{{type.image}}">
                                            <a ui-sref="customerHome({searchWareTypeId: type._id,catId: item.id})">{{type.name}}</a>
                                       </li>
                                    </ul>
                                    
                                </li>
                            </ul>
                            <ul class="subnavPic">
                                  <li ng-repeat='chunk in item.submenu' class="subsubnavPic">

                                        <ul >

                                            <li ng-repeat='type in chunk' class="itemPic" id="pic-{{item.id}}-{{type.image}}">
                                                <img src="data:image/png;base64,{{type.imageFile}}" >
                                            </li>
                                        </ul>

                                    </li>  
                            </ul>
                        </section>
						
					</div><!-- /content -->
				</div><!-- /tabs -->
    
</div>

        
        
        
<div id="container" >
    <menu visible="vprofileVisible" alignment="left" class='menu profile-menu' scrollbars='config'>
            <div class="box-body box-profile " style="text-align:center;">
                <img class="profile-user-img img-responsive img-circle" alt="User profile picture" src="data:image/png;base64,{{me.imageFile}}">
                <h3 class="profile-username text-center"><a ui-sref="adminHome.editShop({id:me._id})">{{me.name}}</a></h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item profile-list">
                        <a ui-sref="home.mainHome">صفحه اصلی مشتریان</a>
                    </li>
                    <li class="list-group-item profile-list">
                        <a ui-sref="adminHome.wareList({supplier:me._id})">کالاهای فروشگاه من</a>
                    </li>
                    <li class="list-group-item profile-list">
                        <a ui-sref="adminHome.createWare({supplier:me._id})">افزودن کالا</a>
                    </li>
                    <li class="list-group-item profile-list">
                        <a ui-sref="adminHome.wareList({supplier:me._id})"
                           ng-click="showSearchMenu($event);">جست جوی کالا</a>
                    </li>
                    <li class="list-group-item profile-list">
                        <a ui-sref="adminHome.wareTypes">لیست اجناس</a>
                    </li>
                    <li class="list-group-item profile-list" permission="list,shop">
                        <a ui-sref="adminHome.shops" >لیست فروشگاه ها</a>
                    </li>
                    
                    <li class="list-group-item profile-list" permission="manager,role">
                        <a ui-sref="adminHome.roleManager" >تنظیمات سطح دسترسی</a>
                    </li>
                </ul>
                <button class="btn btn-info btn-flat" href="" ng-click="logout()" style="width: 80%;">
                    <b>خروج</b>
                    <span class="glyphicon glyphicon-log-out" style="margin-left: 5px;"></span>
                </botton>
            </div>
</menu>
    
    
    <div class="animate wrapper" ui-view>
    </div>
    
</div>
<script type="text/ng-template" id="deleteModal.html">
<div>        
	<div>	
		<div class="modal-header-danger">
			<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title">حذف ردیف</h3>
		</div>
		<div class="modal-body">
			<h5>آیا از حذف این آیتم مطمئن هستید؟</h5>
		</div>
		<div class="modal-footer">
        {{deleteId}}
			<button type="button" class="btn btn-danger btn-flat" ng-click="callFunction(deleteParameter.actionName)" btn-loading="loading">
				<span class="glyphicon glyphicon-ok"></span>
				بله
			</button>
			<button type="button" class="btn btn-default btn-flat" ng-click="cancel()">
				<span class="glyphicon glyphicon-ban-circle"></span>
				خیر
			</button>
		</div>
	</div>
</div>
</script>
<script src='/javascripts/libs/jquery/app.js'></script>
