<div class="swiper-container " ng-init='mainHomeinit()'>
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat='ware in saleWareList' on-finish-render func-name='swiperLoad()'>
                <img src="/images/sale.png" class="sale-arm">
                <div class="ware-pic">
                    <a ui-sref='home.wareDetail({id:ware._id})'><img src="data:image/png;base64,{{ware.picFile[0]}}"></a>
                    <a class='kala-tag' ng-show="ware.off > 0">{{ware.off}}% حراج</a>
                </div>
                <div class="ware-info">
                    <div ng-class="{not:ware.off > 0}"> {{ware.price| number}}   تومان</div>
                    <div ng-show="ware.off > 0"> {{ware.price - ((ware.price * ware.off)/100) | number}} تومان</div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

<script>
    function swiperLoad(){
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
            
            1024: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            380: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
    }
    </script>