<div class="content">
<div class="row" ng-init="init()">

		<form  name="shopForm" ng-submit="shop._id == undefined ? createShop($flow.files[0].uniqueIdentifier) : editShop($flow.files[0].uniqueIdentifier) "
			   flow-init flow-name="uploader.flow"
			   flow-file-added="!!{true:1}[($file.getExtension() == 'png' || $file.getExtension() == 'jpg' || $file.getExtension() == 'jpeg')]"
			   flow-files-submitted="$flow.upload()"
			   novalidate>
			<div class="col-md-6">
				
				<div class="form-group">
					<label class="control-label">نام</label>
                    <input class='form-control' type="text" name="shop.name" ng-model="shop.name" required tooltip> 
					<p class="help-block" ng-show="false">وارد کردن نام فروشگاه  اجباری است</p>
				</div>
				<div class="form-group">
					<label class="control-label">مالک</label>
					<input type="text" name="shop.clientName" class="form-control" ng-model="shop.clientName" required tooltip> 
					<p class="help-block" ng-show="false">وارد کردن مالک فروشگاه اجباری است</p>
				</div>	
				
				
				<div class="form-group">
					<label class="control-label">تلفن</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                        <input type="text" placeholder="تلفن" name="shop.tel" class="form-control" ng-model="shop.tel" required tooltip>
			<p class="help-block" ng-show="false">وارد کردن شماره تماس فروشگاه جهت ارتباط اجباری است</p>
                    </div>
                </div>
                <div class="form-group" ng-show="shop._id == undefined">
					<label class="control-label">نام کاربری</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class=" glyphicon glyphicon-user"></i>
                        </span>
                        <input name="shop.username" class="form-control" ng-model="shop.username" type="text" placeholder="نام کاربری دلخواه را وارد کنید" required tooltip>
			<p class="help-block" ng-show="false">وارد کردن نام کاربری اجباری است</p>
                    </div>
                </div>
                <div class="form-group">
					<label class="control-label">رمز عبور</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input name="shop.password" class="form-control" ng-model="shop.password" type="text" placeholder="رمز عبور دلخواه را وارد کنید" required tooltip>
			<p class="help-block" ng-show="false">وارد کردن رمز عبور اجباری است</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">درصد حراج</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa icon-percent"></i>
                        </span>
                    <input  name="shop.off" class="form-control" ng-model="shop.off" type="number" tooltip >
                    </div>
                </div>
                <div class="form-group">
					<label class="control-label">موبایل</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                        <input name="shop.mobile" class="form-control" ng-model="shop.mobile" type="text" placeholder="موبایل">
                    </div>
                </div>
				<div class="form-group">
					<label class="control-label">ایمیل</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            @
                        </span>
                        <input name="shop.email" class="form-control" ng-model="shop.email" type="text" placeholder="Email">
                    </div>
                </div>
                
				<div class="form-group">
					<label class="control-label">آدرس</label>
                    <textarea name="shop.address" ng-model="shop.address" class="form-control" placeholder="آدرس ..." rows="3" required tooltip></textarea>
			<p class="help-block" ng-show="false">وارد کردن آدرس جهت ارتباط اجباری است</p>
                </div>
                </div> 
<div class="col-md-12">
   <div class="col-xs-12 col-sm-6 col-md-4 ">     
    <div  class="image-box" >
        <div style="margin-button:5px;"  class="  form-group" >
<label class="control-label">تصویر فروشگاه خود را بارگزاری کنید</label>
            <span  class="btn btn-default btn-flat" ng-hide="image.length || $flow.files.length " flow-btn flow-attrs="{accept:'image/*'}">
                <span class="glyphicon glyphicon-upload"></span>						
                بارگزاری تصویر
            </span>
            
            
            <a href="" class="btn btn-danger btn-flat" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                <span class="glyphicon glyphicon-trash"></span>
                انصراف
            </a>
            <div ng-class="{active: $flow.files[0].isUploading()}" class="progress progress-striped" ng-show="$flow.files.length" style="margin-top:20px;">
                        <div ng-style="{width: ($flow.files[0].progress() * 100) + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar" style="width: 100%; float:left;">
                          <span class="sr-only ng-binding">1% Complete</span>
                        </div>
                      </div>
        </div>        
        <div class="panel panel-defualt  form-group" ng-hide="image.length">
            <center>
                <img src="" class="img-thumbnail" ng-show="$flow.files.length" flow-img="$flow.files[0]">
                <!--img  ng-hide="!image.imageFile.length" class="img-thumbnail" src="data:image/png;base64,{{image.imageFile}}" -->
            </center>
        </div>

    </div>
</div>
            </div>

  
<div class="col-md-12">
    <div ng-show="image.length">
        <div class="panel panel-defualt col-xs-12 col-sm-6 col-md-4">
            
            <span class="btn btn-danger btn-flat" ng-show="image.length"  ng-click="deleteImage(shop._id)" >
                <span class="glyphicon glyphicon-trash"></span>						
                حذف
            </span>

            <div class="box-body">
                <div  class="image-box" >
                    <center>

                        <img   class="img-thumbnail" src="data:image/png;base64,{{image}}" >
                    </center>
                </div>
            </div>
        </div>
    </div>
            </div>		
			<div class="col-xs-12 col-sm-12 col-md-12 center">
				
						<button type="submit" class="btn btn-primary " ng-disabled="shopForm.$invalid" btn-loading="loading">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							ثبت
						</button>
			</div>		
				</div>		
		</form>
</div>
