<div class="content" ng-init="shopRoleInit()">
		<div>
			<form novalidate class="row" name="shopRoleForm" ng-submit="memberAddRole()" role="form">
			
				<div class="form-group col-xs-6 col-sm-4 col-md-6">
                        <select
                            class="form-control"
                            ng-model="form.role_id"
                            name="form.role_id"
                            ng-options="item._id as item.name
                                for item in roles" required tooltips>
                        </select>
                </div>
				<button type="submit" class="btn btn-info " ng-disabled="shopRoleForm.$invalid" btn-loading="loading">
					<span class="glyphicon glyphicon-plus-sign"></span>
							افزودن
				</button>
			
			
		  </form>
        </div>
		<table ng-table="rolesTable"  class="ui table ng-table-responsive" style=" width:550px">
                <tr>
               <th>نقش کاربری</th>
               <th>منو</th>
               
                </tr>
				<tr ng-repeat="role in $data">
				   <td data-title="'role name'" >
						<div >	{{role.name}}</div>
					</td>
					<td data-title="'Actions'" >

							<a  ng-click="removeRole( role._id)" class="btn btn-danger">
								<span class="glyphicon glyphicon glyphicon-minus-sign"></span>
								Remove Role
							</a>
						
					</td>			
					
				</tr>
			</table>
</div>