
<div class="content" lr-infinite-scroll='loadMoreShop' ng-init='shopListInit()'>
    <div class="alert alert-danger alert-dismissable" ng-show='wareList.length==0' style="text-align:center; font-size:16px;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    
                فروشگاهی با این مشخصات موجود نیست!
    </div>
<div ng-repeat="shop in shopList" class="ware-box" style="box-shadow:none;">
    <div  class="boxInner" >
        
        <div class=" ware-image shop-image">
            <img src="../../images/online-store.jpg" ng-show='shop.imageFile == "undefined"'>
            <img src="data:image/png;base64,{{shop.imageFile}}" ng-show='shop.imageFile != "undefined"'>
            <a class='titleBox shop-tag ' ui-sref="home.wareList" ng-click='changeShop(shop._id);'>
                کالاهای فروشگاه
            </a>
        </div>
        <div class="pic-info">{{shop.name}}
            <div>{{shop.clientName}}</div>
            <div>شماره تماس:{{shop.tel}}</div>
                
        </div>
        
        
    </div>
    <div class='kala-tag' ng-show="shop.off > 0">{{shop.off}}% حراج</div>
</div>
    
</div>  